:root {
    
    --dark-cyan: hsl( 185, 75%, 39% );
    --very-dark-desaturated-blue: hsl( 229, 23%, 23% );
    --dark-grayish-blue: hsl( 227, 10%, 46% );
    --dark-gray: hsl( 0, 0%, 59% );    

    /* weights: 400, 700 */
    --ff-kumbh-sans: 'Kumbh Sans';
    --font-size: 1.125rem;
}

* {
	margin: 0;
	padding: 0;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var( --ff-kumbh-sans );
    font-size: var( --font-size );

	background-color: var(--dark-cyan);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    }
    50% {
        background-position: right 75vw bottom 30vh, left 75vw top 30vh;
    }
    100% {
        background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    }
}

.profile-card-wrapper {
	background-color: white;

	box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 50%);

	border-radius: 1rem;

    margin: 1rem;

	overflow: hidden;
}

.profile-card-user-content {
    position: relative;
}

.profile-card-pattern {
    background-color: white;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.profile-card-avatar {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate( -50%, -50% );
    z-index: 2;
}

.avatar {
    border: .35rem solid white;
    border-radius: 50%;
}

.profile-card-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    position: relative;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.user p {
    color: var( --dark-grayish-blue );

    font-size: .8rem;
    font-weight: 400;
}

.name-age {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 1rem;
    margin-bottom: .5rem;
}

.name-age .age {
    color: var( --dark-grayish-blue );

    font-size: 1rem;
    font-weight: 400;

    margin-left: .5rem;
}

.user-status {
	display: flex;
	justify-content: space-around;

	border-top: hsl(0, 0%, 59%, 0.6) solid 1px;
    padding-inline: 1rem;
}

.user-status div:nth-child(1n) {
	width: 25%;
	padding: 1.2rem 0;
}

.user-status div:nth-child(1n) > h1 {
	font-size: 1rem;
	text-align: center;
	margin: 0;
}

.user-status div:nth-child(1n) > p {
	text-align: center;
    letter-spacing: .125rem;
	font-size: 0.6rem;
	margin: 0.2rem 0;
    color:  var(--dark-gray);
}


@media only screen and ( max-width: 350px ){
	.profile-card-wrapper {
        overflow: hidden;
        margin: .5rem;
        width: 95%;
        border-top-right-radius: 1rem;
        text-align: center;
    }
    .user {
        top: 70%;
    }    
    .name-age {
        flex-direction: column;
        align-items: center;
    }
    .name-age .age {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .user-status {
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-status div:nth-child(1n) {
        padding: 1rem 0;
    }    
}