:root {
    
    --dark-cyan: hsl( 185, 75%, 39% );
    --very-dark-desaturated-blue: hsl( 229, 23%, 23% );
    --dark-grayish-blue: hsl( 227, 10%, 46% );
    --dark-gray: hsl( 0, 0%, 59% );    

    /* weights: 400, 700 */
    --ff-kumbh-sans: 'Kumbh Sans';
    --font-size: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var( --ff-kumbh-sans );
    font-size: var( --font-size );

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: url( ./images/bg-pattern-top.svg ), url( ./images/bg-pattern-bottom.svg );
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat, no-repeat;
    background-color: var( --dark-cyan );
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    }
    50% {
        background-position: right 75vw bottom 30vh, left 75vw top 30vh;
    }
    100% {
        background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    }
}

.profile-card-user-content {
    position: relative;
}

.profile-card-pattern {
    background-color: white;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.profile-card-avatar {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate( -50%, -50% );
    z-index: 2;
}

.avatar {
    border: .35rem solid white;
    border-radius: 50%;
}

.profile-card-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.space {
    padding: 1.25rem;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.25rem;
}

.user p {
    color: var( --dark-grayish-blue );

    font-size: 1rem;
    font-weight: 400;
}

.name-age {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    margin-bottom: .5rem;
}

.name-age .age {
    color: var( --dark-grayish-blue );

    font-weight: 400;

    margin-left: .5rem;
}

.profile-card-user-social {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-top: 1px solid lightgray;

    padding: 2rem;

    text-align: center;

    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.social {
    width: 100%;

    font-size: 1rem;

    display: flex;
}

.social div h3 {
    margin-bottom: .25rem;
}

.social div p {
    letter-spacing: .125rem;
    color: var( --dark-grayish-blue );
    font-size: .7rem;
}

.likes {
    margin: 0 auto;
}

@media only screen and ( max-width: 350px ){
	.profile-card-wrapper {
        overflow: hidden;
        margin: .5rem;
        width: 95%;
        border-top-right-radius: 1rem;
    }
}